body {
    
    text-align: center;
    background-color: rgb(250, 246, 246);
}

.container{
    color: rgb(25, 24, 24);
  text-shadow: 2px 2px 4px #dfdede;
    width: 600px;
    height: 200px;
    background: gainsboro;
    bottom:200px;
    margin: auto;

}

.display {
    font-display: 500px;
    background: gainsboro;
    align-items: center;
    flex-direction: column;
    
}